.container {
    max-width: 960px;
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  .border-top-gray { border-top-color: #adb5bd; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  .lh-condensed { line-height: 1.25; }

  .btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
  /* 
   <div className="page-head_agile_info_w3l" style={{ backgroundColor: "#6c757d" }}>
                    <div className="container" >
                        <h3>Checkout <span>Page </span></h3>

                        <div className="services-breadcrumb">
                            <div className="agile_inner_breadcrumb">

                                <ul className="w3_short">
                                    <li><a href="/">Home</a><i>|</i></li>
                                    <li>Checkout Page </li>
                                </ul>
                            </div>
                        </div>
                       
                        </div>
                        </div> */
                        .table>tbody>tr>td, .table>tfoot>tr>td{
                            vertical-align: middle;
                        }
                        @media screen and (max-width: 600px) {
                            table#cart tbody td .form-control{
                                width:20%;
                                display: inline !important;
                            }
                            .actions .btn{
                                width:36%;
                                margin:1.5em 0;
                            }
                            
                            .actions .btn-info{
                                float:left;
                            }
                            .actions .btn-danger{
                                float:right;
                            }
                            
                            table#cart thead { display: none; }
                            table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
                            table#cart tbody tr td:first-child { background: #333; color: #fff; }
                            table#cart tbody td:before {
                                content: attr(data-th); font-weight: bold;
                                display: inline-block; width: 8rem;
                            }
                            
                            
                            
                            table#cart tfoot td{display:block; }
                            table#cart tfoot td .btn{display:block;}
                            
                        }